<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../assets/img/therun_header_resized.jpg');">
    <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="owner">
        <div class="name">
          <h4 class="title">Origins of the Paatuwaqatsi Run
            <br />
          </h4>
          <h6 class="description">A unique opportunity to run through Hopi land...</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          In an effort to bring back community involvement, known by the Hopi word naa’ya, Bucky Preston, founder of the Paatuwaqatsi
          Run, along with many volunteers organized the first Paatuwaqasti Run in 2003. Since then, the Run has had up to
          200 participants entering the different races.
          <br />
          <br /> Bucky Preston stated:
          <i>“This was something that I had always wanted to do for many years. We are forgetting our Hopi values. We are forgetting
            to help each other’s out. I want to see that effort return to our community. Putting Hopi life values and teaching
            at the forefront is the purpose of the run. Why are we taught to run early in the morning? Because running not
            only strengthens you physically, it strengthens you spiritually. A runner would take one of the many foot trails
            from the village in the early morning to a spring, take a drink from the spring and sprinkle himself with the
            cold water. This gave that person strength and provided healing for any ailments. Everything at Hopi involves
            water - Water is Life. Now, water is being abused and is depleting. In some places, it is gone and I want to
            bring awareness to the people.”
          </i>
          <br /><br /> The run also helps to keep these trails ‘alive’. These trails are viewed as the veins of the village. By utilizing
          them the villagers keep them open, which helps to keep the village alive and brings the clouds.
          <br />
          <br /> The Paatuwaqatsi Run, since its inception, is based on these cultural values to remind the Hopi community of these
          teachings. The run also invites other cultures to learn from this and share their values about life enrichment
          and the role that water and running plays in their lives.
          <br />
          <br /> This one-day event includes speakers who share their knowledge and work with water issues within their own communities.
          And whether you run or not, everyone is invited eat a traditional Hopi meal and become a part of the community
          who is concerned, better informed and reminded about the importance of water in our lives.All the work is done
          on a volunteer basis with no individuals compensated for their time.
        </div>
      </div>
    </div>
  </div>