<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true"
    style="background-image: url('../assets/img/registration_header_resized.jpg');">
    <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="owner">
        <div class="name">
          <h4 class="title">Registration
            <br />
          </h4>
          <h6 class="description">Information</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          On-Line Registration is available at UltraSignUp.com <br />
          <a href="http://ultrasignup.com/register.aspx?did=95097" target="_blank">Ultra Signup</a>
          <br />
          <br /> The registration form is available below
          <br />
          <a href="../assets/docs/Paatuwaqatsi_Registration_Form_2022.pdf" target="_blank"
            title="[Paatuwaqatsi Registration Form (PDF)]">Paatuwaqatsi Registration Form (PDF)</a>
          <br />
          <a href="../assets/docs/Paatuwaqatsi_Registration_Form_2022.doc" target="_blank"
          title="[Paatuwaqatsi Registration Form (DOC)]">Paatuwaqatsi Registration Form (DOC)</a>
          <br /> Checks and money order for the registration fee are accepted in person or by mail. All fees should be
          made payable
          to
          <i>Water Is Life Run</i> who is our non-profit host organization. Your registration will be voided and a $10
          fee assessed
          on all returned checks.
          <br />
          <br /> All registered participants will receive an email confirmation.
          <strong>All participants are welcome to register in person on the day of the run.</strong>
        </div>
      </div>
    </div>
  </div>