<div class="page-header" data-parallax="true" style="background-image: url('../assets/img/walpi-resized.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Paatuwaqatsi Run.</h1>
            <h3>A Unique Run. A Universal Cause. Water is Life.</h3>
            <br />
            <div class="alert alert-danger alert-with-icon" data-notify="container">
                <div class="container">
                    <div class="alert-wrapper">
                        <i class="nc-icon nc-bell-55"></i> September 9th, 2022 - Polacca, AZ - Hopi Reservation
                        <br />
                        <br />Bucky Preston’s Residence
                        <br />Sand Clan Housing, off highway 264 at milepost 393
                        <br />Polacca, Arizona
                        <br />Signs will be posted.
                        <br />
                        <br />
                        No race dinner due to Covid numbers still on the rise. 
Masks will need to be worn at the start and finish of the races.  Masks are optional on the race site as well as the aide stations.  We have all 5 aide stations covered w volunteers Yay!!!  They are: Talashie Family, Lopez Family, Talayumptewa Family, Hopi Substance Abuse Prevention Center, and Tony Screlunas and family. 
<br />
                        <br />(scroll down to Registration section)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Let's talk about the run.</h2>
                    <h5 class="description">
                        The Paatuwaqatsi Run is a special public event open to anyone who is interested in running for
                        the cause of water and life.
                        The run will take place in the heart of Hopi country. The Paatuwaqatsi Run was founded by the
                        well-known
                        and accomplished Hopi runner, Bucky Preston, who has literally run thousands of miles in the
                        quest
                        to preserve and protect his people's water.
                    </h5>
                    <br>
                    <a href="../#/therun" class="btn btn-danger btn-round">See Details</a>
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-world-2"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">A Hopi Tradition</h4>
                            <p class="description">Running is integral to the fabric of the Hopi culture.</p>
                            <a href="../#/hopitradition" class="btn btn-link btn-danger">See More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-bulb-63"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Registration</h4>
                            <a href="../#/registration" class="btn btn-link btn-danger">See more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-user-run"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Results</h4>
                            <p>Browse results and runners from past years.</p>
                            <a href="#" class="btn btn-link btn-danger">Coming soon...</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-diamond"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Sponsors</h4>
                            <p>Have a look at our wonderful partners.</p>
                            <a href="../#/sponsors" class="btn btn-link btn-danger">See more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-dark text-center">
        <div class="container">
            <h2 class="title">Our Heroes</h2>
            <h5 class="description">
                The Paatuwaqatsi Run could not happen without the help of countless volunteers. Below is the core team
                supported by many more behind the scenes.
            </h5>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar">
                                <img src="../assets/img/faces/sam-taylor.jpg" alt="sam-taylor">
                            </a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Sam Taylor</h4>
                                    <h6 class="card-category">Getting Things Done.</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar">
                                <img src="../assets/img/faces/bucky-preston.jpg" alt="bucky-preston">
                            </a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Bucky Preston</h4>
                                    <h6 class="card-category">The Heart and Soul.</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar">
                                <img src="../assets/img/faces/don-meyer.jpg" alt="don-meyer">
                            </a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Don Meyer</h4>
                                    <h6 class="card-category">Simply Relentless.</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>