<div class="page-header" data-parallax="true" style="background-image: url('../assets/img/walpi-resized.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Paatuwaqatsi Run.</h1>
            <h3>A Unique Run. A Universal Cause. Water is Life.</h3>
            <br />
            <div class="alert alert-danger alert-with-icon" data-notify="container">
                <div class="container">
                    <div class="alert-wrapper">
                        <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <i class="nc-icon nc-simple-remove"></i>
                        </button> -->
                        <div class="message" style="font-size: 1.5em;">
                            <i class="nc-icon nc-bell-55"></i> September 8th, 2018 - Polacca, Az - Hopi Reservation
                            <br /> (scroll down to Registration section)
                        </div>
                    </div>
                </div>
            </div>
            <!-- <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a>
            <button type="button" class="btn btn-outline-neutral btn-round">Download</button> -->
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Let's talk about the run.</h2>
                    <h5 class="description">
                        The Paatuwaqatsi Run is a special public event open to anyone who is interested in running for the cause of water and life.
                        The run will take place in the heart of Hopi country. The Paatuwaqatsi Run was founded by the well-known
                        and accomplished Hopi runner, Bucky Preston, who has literally run thousands of miles in the quest
                        to preserve and protect his people's water.
                    </h5>
                    <br>
                    <a href="../#/therun" class="btn btn-danger btn-round">See Details</a>
                </div>
            </div>
            <br/>
            <br/>
            <div class="row">
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-world-2"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">A Hopi Tradition</h4>
                            <p class="description">Running is integral to the fabric of the Hopi culture.</p>
                            <a href="../#/hopitradition" class="btn btn-link btn-danger">See More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-bulb-63"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Registration</h4>
                            <p>Either go to
                                <a href="http://ultrasignup.com/register.aspx?did=58824" target="_blank">UltraSignup</a> or send us your form through mail.
                                <br>
                                <a href="../assets/docs/Paatuwaqatsi_Registration_Form_2018.pdf" target="_blank">PDF</a> |
                                <a href="../assets/docs/Paatuwaqatsi_Registration_Form_2018.doc">Word</a>
                            </p>
                            <!-- <a href="#" class="btn btn-link btn-danger">Coming soon...</a> -->
                            <a href="../#/registration" class="btn btn-link btn-danger">See more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-user-run"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Results</h4>
                            <p>Browse results and runners from past years.</p>
                            <a href="#" class="btn btn-link btn-danger">Coming soon...</a>
                            <!-- <a href="../#/results" class="btn btn-link btn-danger">See more</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-diamond"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Sponsors</h4>
                            <p>Have a look at our wonderful partners.</p>
                            <a href="../#/sponsors" class="btn btn-link btn-danger">See more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-dark text-center">
        <div class="container">
            <h2 class="title">Our Heroes</h2>
            <h5 class="description">
                The Paatuwaqatsi Run could not happen without the help of countless volunteers. Below is the core team supported by many more behind the scenes.
            </h5>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar">
                                <img src="../assets/img/faces/kim-secakuku.jpg" alt="kim-secakuku">
                            </a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Kim Secakuku</h4>
                                    <h6 class="card-category">Getting Things Done.</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                <!-- Teamwork is so important that it is virtually impossible for you to reach the heights of your capabilities or make the money
                                that you want without becoming very good at it. -->
                            </p>
                        </div>
                        <!-- <div class="card-footer text-center">
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div> -->
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar">
                                <img src="../assets/img/faces/bucky-preston.jpg" alt="bucky-preston">
                            </a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Bucky Preston</h4>
                                    <h6 class="card-category">The Heart and Soul.</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                <!-- A group becomes a team when each member is sure enough of himself and his contribution to praise the skill of the others.
                                No one can whistle a symphony. It takes an orchestra to play it. -->
                            </p>
                        </div>
                        <!-- <div class="card-footer text-center">
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div> -->
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar">
                                <img src="../assets/img/faces/don-meyer.jpg" alt="don-meyer">
                            </a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Don Meyer</h4>
                                    <h6 class="card-category">Simply Relentless.</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                <!-- The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you
                                can work together, silence isn’t golden, it’s deadly. -->
                            </p>
                        </div>
                        <!-- <div class="card-footer text-center">
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Keep in touch?</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="nc-icon nc-single-02"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="nc-icon nc-email-85"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> -->
</div>