<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../assets/img/hopitradition_header_resized.jpg');">
      <div class="filter"></div>
    </div>
    <div class="section profile-content">
      <div class="container">
        <div class="owner">
          <div class="name">
            <h4 class="title">Running in Hopi History and Culture
              <br />
            </h4>
            <h6 class="description">
                The text below was extracted from a <a href="http://www8.nau.edu/hcpo-p/running.pdf" target="_blank">PDF</a> document located at , the <a href="http://www8.nau.edu/hcpo-p/" target="_blank">Hopi Cultural Preservation Office</a> at NAU.
            </h6>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
              The Hopi people are known for running long distances at record speed. Throughout
                      Native American history and culture, <strong>the tradition of running</strong> can be traced to mythical
                      stories. The people believed that their ancestors and animals showed them how to
                      run, and they understood that the mythical races helped to organize the world. In
                      Hopi culture, the people ran for <strong>practical and ceremonial reasons.</strong> Several centuries
                      ago, Hopis did not own cattle, sheep or burros, and they relied on their ability
                      to hunt, which required them to <strong>incorporate running in Hopi society. </strong>Besides running
                      for gaming purposes, Hopis ran in search of food. When there were no horses for
                      transportation, running helped to cover great distances.<br />
              <br />
              Moreover, Hopis organized races between neighboring villages. For example, runners
                      from the villages of Orayvi and Walpi would often challenge one another to a race.
                      In such cases, runners participated in races to <strong>prove their fortitude and fleetness
                      of feet.</strong> Hopis also ran for physical reasons, as the people believed that <strong>running
                      banished unhappiness, strengthened the body, and rejuvenated one’s energy.</strong> Furthermore,
                      according to Hopi oral tradition, young boys as well as men from Orayvi would assemble
                      at a common place in the morning and run to Moenkopi to work in their fields.<br />
              <br />
              In addition to the practical reasons for running, Hopis used running as a way to
                      <strong>transport information.</strong> During the Pueblo Revolt of 1680, Hopi messengers ran to
                      the nearby pueblos to prepare the people for an attack against the Spaniards. Hopi
                      messengers were celebrated for their promptness in delivering messages. In 1903,
                      George Wharton James gave a dollar to Charlie Talawepi of Orayvi to take a message
                      to Keams Canyon. <strong>Talawepi ran the distance of seventy-two miles and brought back
                      a reply in thirty-six hours.</strong><br />
              <br />
              In times of warfare against the Navajos, Hopis runners often ran to Navajo country
                      to look for salvia, hair combings, and food in their enemy’s hogans. When the runners
                      brought back the elements, they buried them as bait and ignited a fire above the
                      items so that the Navajo would be weakened before the approaching battle. In such
                      instances, running had a supernatural purpose. Hopi running also occurred in conjunction
                      with several ceremonial events. While preparing your body to participate in races
                      such as the Snake and Basket dances, praying as a group for rain and prosperity
                      during these ceremonies serves as significant of giving from one’s self and embodiment
                      to the ceremonial events. Today, Hopis continue to practice ceremonial running.
                      Therefore, <strong>Hopi running games are religious and secular in nature</strong>, as the people
                      played these games to bring rain and cultivate crops.<br />
              <br />
              During the seventeenth, eighteenth, and nineteenth centuries, the Hopi primarily
                      ran for spiritual and practical purposes. Beginning in the twentieth century, Hopi
                      running became increasingly linked with physical fitness and American sports. One
                      of the most famous Hopi runners was <strong>Louis Tewanima</strong> from Songòopavi who won the silver
                      medal in the 10,000-meter race at the 1912 Olympic Games in Stockholm, Sweden. Another
                      Hopi runner, <strong>Nicholas Quamawahu</strong>, won the Long Beach – New York Marathon in 1927.<br />            
          </div>
        </div>
      </div>
    </div>